<%= form_for @question do |q| %>

<% if @question.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@question.errors.count, "error") %> prohibited
      this phone info from being saved:
    </h2>
    <ul>
      <% @question.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= q.label "Enter question" %><br>
  <%= q.text_area :ques %>
</p>

<p>
  <%= q.label "Option 1:" %><br>
  <%= q.text_field :option1 %><br>
</p>

<p>
  <%= q.label "Option 2:" %><br>
  <%= q.text_field :option2 %><br>
</p>

<p>
  <%= q.label "Select correct option" %><br>
  <%= q.radio_button :correct_ans, "1" %> 
  <%= label :correct_ans, "Option 1" %><br>
  <%= q.radio_button :correct_ans, "2" %>
  <%= label :correct_ans, "Option 2" %>
</p>

<p>
  <%= q.label "Categories" %><br>
  <%= q.text_field :tag_list %>
</p>

<p>
  <%= q.submit "Submit new trivia question" %>
</p>

<%end%>

<div><%= link_to "Trivia homepage", trivia_index_path %></div>
<div><%= link_to "Main homepage", pages_index_path %></div>