<p>
	<strong>Question:</strong>
	<%= @question.ques %>
</p>

<p>
	<strong>Categories:</strong>
	<%= raw @question.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>

<% if current_user == @question.user %>
<p>
	<strong>Answer:</strong>
	<%= @question.correct_ans %>
</p>
<%end%>

<div><%= link_to "Trivia homepage", trivia_index_path %></div>
<div><%= link_to "Main homepage", pages_index_path %></div>