<% if user_signed_in? %>
<h1>User score is <%= current_user.score %></h1>
<%end%>

<h1>Trivia</h1>

<h1>Choose a category</h1>

<div>
<% tag_cloud Question.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, {:controller => "trivia", :action => "start", :tag => tag.name}, class: css_class %>
    <br>
<% end %>
</div>

<br>

<div>
<%= link_to "Answer all questions", {:controller => "trivia", :action => "allquestions"} %>
</div>
<br>


<div><%= link_to "Trivia homepage", trivia_index_path %></div>
<div><%= link_to "Main homepage", pages_index_path %></div>

