<% if user_signed_in? %>
<h1>User score is <%= current_user.score %></h1>
<%end%>

<p>
	<strong>Question:</strong>
	<%= @question.ques %>
</p>

<p>
	<strong>Category:</strong>
	<%= @question.tag_list %>
</p>

| <%= pluralize session[:q].reputation_for(:votes).to_i, "vote" %>
<% if current_user && !current_user.voted_for?(session[:q]) %>
  | <%= link_to "up", vote_question_path(session[:q], type: "up"), method: "post" %>
  | <%= link_to "down", vote_question_path(session[:q], type: "down"), method: "post" %>
<% end %>


<% if @answer.present? %>
<h1>You have already answered this question. Please click on next question</h1>

<% session[:count] += 1 %>

<%= form_tag({:controller => "trivia", :action => "question"}) do %>
	<%= submit_tag("Next question") %>
<%end%>
<%else%>
<h2>Your answer:</h2>

<%= render 'answers/form' %>
<%end%>

<%= link_to "Home", pages_index_path %>

