<%= form_for ([@question, @question.answers.build]) do |a| %>

<%# radio_button_tag 'submitted_ans', "#{@question.option1}" %> <%# @question.option1 %> <br><%# radio_button_tag 'approved', "#{@question.option2}" %> <%# @question.option2 %>

<%# a.select(:submitted_ans, options_for_select([["#{@question.option1}", "#{@question.option1}"], ["#{@question.option2}", "#{@question.option2}"]]), prompt: "Select option") %>

<%# a.hidden_field :answered, value: 1 %>

<%= a.radio_button :submitted_ans, "#{@question.option1}" %> 
<%= label :submitted_ans_label, "#{@question.option1}" %><br>
<%= a.radio_button :submitted_ans, "#{@question.option2}" %>
<%= label :submitted_ans_label, "#{@question.option2}" %>

<p>
	<%# a.label "Enter your answer" %><br>
	<%# a.text_field :submitted_ans %>
</p>

<p>
	<%= a.submit "Submit answer" %>
</p>
<%end%>

