<h1>All user scores</h1>

<table class="table table-hover">
<tr>
	<th>User</th>
	<th>Score</th>
</tr>


<% @user.each do |u| %>
<tr>
	<td><%= u.first_name %></td>
	<td><%= u.score %>
</tr>
<% end %>
</table>
<br>

<div>Average score of all users= <%= User.average(:score) %></div>

<div><%= link_to "Trivia homepage", trivia_index_path %></div>
<div><%= link_to "Main homepage", pages_index_path %></div>
