<!DOCTYPE html>
<html>
<head>
  <title>Devanshu - TriviaGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= render 'layouts/header' %>
</header>

<% if notice %><p class="alert alert-info"><%= flash[:notice] %></p><% end %>
<% if alert %><p class="alert alert-warning"><%= flash[:alert] %></p><% end %>

<!--<div align="center">-->
<div class="modal-dialog modal-lg" style="width: 90%">
  <div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">
          <div class="modal-body">
			<%= yield %>
		  </div>
		</h4>
	</div>
  </div>
</div>
<!--</div>-->

</body>
</html>
